*,
*::before,
*::after {
  box-sizing: border-box;
  vertical-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: value;
  -moz-appearance: value;
  appearance: value;
}

a,
button,
img a,
input {
  transition: all ease-in 0.3s;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

// main {
//   margin-top: 80px;
// }
