@import "variables";

.page-header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 3rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .heading {
      font-size: 2rem;
      color: #2c3e50;
    }
    .description {
      font-size: 1rem;
      color: #777;
    }
  }
}

.packages-section {
  padding: 4rem 0;
  background-color: $light-bg;
  max-width: 1280px;
  margin: 0 auto;

  .search-result-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: $secondary-color;
    }

    .clear-filter {
      color: red;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Grid Layout
  .packages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    gap: 1rem;
    padding: 0 1.5rem;
  }

  .package-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    .card-img {
      height: 200px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .price-tag {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background: $primary-color;
        color: #fff;
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: bold;
      }
    }

    .card-content {
      padding: 1.5rem;
      h3 {
        margin: 0.5rem 0;
        color: $secondary-color;
      }
      p {
        color: $light-text;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        line-height: 1.4;
      }

      .btn-book {
        display: block;
        background: $secondary-color;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        text-decoration: none;
        &:hover {
          background: $primary-color;
        }
      }
    }
  }

  // "No Results" Styling
  .no-results {
    grid-column: 1 / -1; // Span full width
    text-align: center;
    padding: 3rem;
    color: $light-text;
  }

  @media screen and (max-width: 700px) {
    .package-card {
      .card-content {
        padding: 1rem;
        .meta-tags {
          font-size: 13px;
        }
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
          margin-bottom: 1rem;
          line-height: 1.4;
        }
      }
    }
  }
}
